configparser==3.7.3
Django==2.1
django-cors-headers==2.4.1
django-debug-toolbar==2.0
djangorestframework==3.9.2
gunicorn==19.9.0
pre-commit==1.21.0
pytest==4.6.3
pytest-cov==2.7.1
pytest-django==3.5.1
whitenoise==3.3.1
